@model PCDetailsWeb.Models.tbldesktop

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tbldesktop</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fksystem, "fksystem", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fksystem", String.Empty)
                @Html.ValidationMessageFor(model => model.fksystem)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkmonitor, "fkmonitor", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkmonitor", String.Empty)
                @Html.ValidationMessageFor(model => model.fkmonitor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkkeyboard, "fkkeyboard", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkkeyboard", String.Empty)
                @Html.ValidationMessageFor(model => model.fkkeyboard)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkmouse, "fkmouse", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkmouse", String.Empty)
                @Html.ValidationMessageFor(model => model.fkmouse)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkpowerpack, "fkpowerpack", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkpowerpack", String.Empty)
                @Html.ValidationMessageFor(model => model.fkpowerpack)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
