@model PCDetailsWeb.Models.tblsoftware

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblsoftware</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serialno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serialno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.osversion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.osversion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.officeversion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officeversion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
