@model PCDetailsWeb.Models.tblsystem

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tblsystem</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.model, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.model)
                @Html.ValidationMessageFor(model => model.model)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.serialno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.serialno)
                @Html.ValidationMessageFor(model => model.serialno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pno)
                @Html.ValidationMessageFor(model => model.pno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.processor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.processor)
                @Html.ValidationMessageFor(model => model.processor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.memory, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.memory)
                @Html.ValidationMessageFor(model => model.memory)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hdd, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hdd)
                @Html.ValidationMessageFor(model => model.hdd)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dvdcd, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dvdcd)
                @Html.ValidationMessageFor(model => model.dvdcd)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.operational, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.operational)
                @Html.ValidationMessageFor(model => model.operational)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkvendor, "fkvendor", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkvendor", String.Empty)
                @Html.ValidationMessageFor(model => model.fkvendor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fksystemtype, "fksystemtype", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fksystemtype", String.Empty)
                @Html.ValidationMessageFor(model => model.fksystemtype)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
