@model PCDetailsWeb.Models.tblwarranty

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblwarranty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblstatus.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblstatus.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblsystem.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblsystem.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblvendor.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblvendor.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assignedto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assignedto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.configdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.configdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preparedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preparedby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateofpurchase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateofpurchase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.warrantyexpiration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.warrantyexpiration)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
